@import '../../../style/color.scss';

.container {
  border-radius: 5px;
  border: 1px solid transparent;
  color: $canvas_2;
  margin: 20px 10px 0 10px;
  padding: 10px;
  transition: border-color 0.2s;

  &Focus {
    border-color: $canvas_2;
  }
}

.switcher {
  background-color: $light_blue_2;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
  margin-right: 10px;
  padding: 2px;
  vertical-align: middle;
}

.knob {
  background-color: $dark_blue_2;
  border-radius: 5px;
  display: inline-block;
  margin-top: 2px;
  min-height: 15px;
  min-width: 20px;
  transition: margin-left 0.2s, margin-right 0.2s;
}

.on {
  margin-left: 25px;
  margin-right: 2px;
}
.off {
  margin-left: 2px;
  margin-right: 25px;
}
