@import '../../../style/color.scss';

.backdrop {
  background-color: rgba(0, 0, 0, 0.6);
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.container {
  border-radius: 5px;
  border: 3px solid $dark_blue;
  background: $light_blue;
  height: 40% !important;
  left: 25%;
  min-height: 300px;
  min-width: 300px;
  padding: 10px;
  position: absolute;
  top: 25%;
  width: 50% !important;
  box-shadow: 0 0 40px;
}

.closeButton {
  background-color: $dark_brown;
  float: right;
  height: 30px;
  width: 30px;

  &:hover,
  &:focus {
    background-color: $canvas_2;
    color: black;
  }
}
