@import '../../../style/color.scss';

.sliderContainer {
  border-radius: 5px;
  border: 1px solid transparent;
  margin: 20px 10px 0 10px;
  padding: 10px;
  transition: border-color 0.2s;

  &Focus {
    border-color: $canvas_2;
  }

  .slider {
    border-radius: 5px;
    border: 1px solid $canvas_2;
    cursor: ew-resize;
    margin-top: 5px;
  }

  .sliderValue {
    background-color: $canvas_2;
  }

  span {
    color: $canvas_2;
  }

  input {
    background-color: $canvas_3;
    border: none;
    margin-left: 5px;
    width: 50px;
  }
}
