.sliderContainer {
  transition: border-color 0.2s;
  padding: 10px;
  margin: 20px 10px 0 10px;
  border: 1px solid rgba(169, 198, 149, 0.3);
  border-radius: 5px;

  &Focus {
    border-color: rgb(169, 198, 149);
  }

  .slider {
    margin-top: 5px;
    border: 1px solid #ededef;
    border-radius: 5px;
    cursor: ew-resize;
  }

  .sliderValue {
    background-color: #ededef;
  }

  span {
    color: white;
  }

  input {
    margin-left: 5px;
    background-color: rgba(237, 237, 239, 0.5);
    border: none;
    width: 50px;
  }
}
