.patternSelector {
  transition-property: padding, height, font-size, background-color;
  transition-duration: 0.2s;
  transition-timing-function: ease;
  border: 2px solid #ededef;
  border-radius: 5px;
  background-color: rgba(169, 198, 149, 0.3);
  margin: 20px;
  padding: 25px;
  text-align: center;
  height: 140px;
  cursor: pointer;
}

.patternSelector:hover {
  padding: 15px;
  height: 160px;
  font-size: 20px;
  background-color: rgba(169, 198, 149, 0.6);
}
