@import '../../../style/color.scss';

.patternSelector {
  background-color: $dark_brown_2;
  border-radius: 5px;
  border: 2px solid $canvas_3;
  color: $canvas_2;
  font-size: 16px;
  height: 140px;
  margin: 20px;
  transition-duration: 0.2s;
  transition-property: padding, height, font-size, background-color, border;
  transition-timing-function: ease;
  width: 85%;

  &:hover,
  &:focus {
    background-color: $light_brown_2;
    border: 3px solid $canvas_2;
    font-size: 24px;
    height: 150px;
    outline: none;
  }
}
