@import '../../../style/color.scss';

.container {
  height: 30px;
  margin: 20px 10px 0 10px;
  width: 93%;

  &:hover,
  &:focus {
    background-color: $canvas_2;
    color: black;
    font-size: 16px;
    height: 40px;
  }
}
