$canvas: #f7f7e2; // rgb(247, 247, 226)
$canvas_2: rgba(247, 247, 226, 0.75);
$canvas_3: rgba(247, 247, 226, 0.3);

$dark_blue: #2b2f3d; // rgb(43, 47, 61)
$dark_blue_2: rgba(43, 47, 61, 0.75);

$light_blue: #466874; // rgb(70, 104, 116)
$light_blue_2: rgba(70, 104, 116, 0.75);
$light_blue_3: rgba(70, 104, 116, 0.5);

$dark_brown: #4f4e47; // rgb(79, 78, 71)
$dark_brown_2: rgba(79, 78, 71, 0.75);

$light_brown: #9f926e; // rgb(159, 146, 110)
$light_brown_2: rgba(159, 146, 110, 0.75);
