.tray {
  background-color: rgba(107, 99, 91, 0.8);
  display: inline-flex;
  position: absolute;
  top: 0;
  transition-timing-function: ease;
  transition: width 0.4s, right 0.4s;
  width: 0px;
  &.open {
    width: 300px;
  }
}

.left {
  left: 0;
  & > .hoverIcon {
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
  }
  &.open > .hoverIcon {
    margin-left: 300px;
  }
}

.right {
  right: 0px;
  & > .hoverIcon {
    border-bottom-left-radius: 50px;
    border-top-left-radius: 50px;
    right: 0;
  }
  &.open > .hoverIcon {
    right: 300px;
  }
}

.hoverIcon {
  background-color: rgba(107, 99, 91, 0.8);
  border: none;
  cursor: pointer;
  min-height: 50px;
  min-width: 25px;
  position: absolute;
  top: 45%;
  transition-duration: 0.4s, 0.4s, 0.4s, 0.1s, 0.1s, 0.1s, 0.1s;
  transition-property: border-radius, right, margin-left, background-color, min-width, min-height, top;
  transition-timing-function: ease;

  &:hover,
  &:focus {
    background-color: rgb(107, 99, 91);
    min-height: 60px;
    min-width: 35px;
    top: 44%;
  }
}

.content {
  overflow-y: auto;
  padding-bottom: 20px;
  width: 100%;
}
