@import '../style/color.scss';

.tray {
  background-color: $dark_blue_2;
  display: inline-flex;
  position: absolute;
  top: 0;
  transition-timing-function: ease;
  transition: width 0.4s, right 0.4s;
  width: 0px;
  &.open {
    width: 300px;
  }
}

.left {
  left: 0;
  & > .hoverIcon {
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
  }
  &.open > .hoverIcon {
    margin-left: 300px;
  }
}

.right {
  right: 0px;
  & > .hoverIcon {
    border-bottom-left-radius: 50px;
    border-top-left-radius: 50px;
    right: 0;
  }
  &.open > .hoverIcon {
    right: 300px;
  }
}

.hoverIcon {
  background-color: $dark_blue_2;
  border: none;
  min-height: 50px;
  min-width: 25px;
  position: absolute;
  top: 45%;
  transition-duration: 0.4s, 0.4s, 0.4s, 0.1s, 0.1s, 0.1s, 0.1s;
  transition-property: border-radius, right, margin-left, background-color, min-width, min-height, top;
  transition-timing-function: ease;

  &:hover,
  &:focus {
    background-color: $light_blue_2;
    min-height: 60px;
    min-width: 35px;
    top: 44%;
  }
  &:focus {
    outline: 1px solid black;
    outline-offset: 5px;
  }
}

.content {
  overflow-y: auto;
  padding-bottom: 20px;
  width: 100%;
}

.infoPanel {
  background-color: $dark_blue_2;
  bottom: 0;
  outline: 1px solid black;
  padding: 10px;
  position: absolute;
  width: 280px;

  & button {
    height: 20px;
    font-size: 12px;
    margin: 3px;
    transition: height 0.2s, font-size 0.2s;

    &:hover,
    &:focus {
      background-color: $canvas_2;
      color: black;
      font-size: 16px;
      height: 30px;
    }
  }
}

.love {
  font-size: 14px;
  font-style: italic;
  margin-top: 10px;
}
